.container{
  width:100%;
  background: linear-gradient(180deg, #070E6AFC 20%, #0E1BD0FC 100%);
  display:flex;
  align-items:center;
  flex-direction:column;
  position:relative;
}
.primaryHeading{
  max-width:51.41rem;
  color:white;
  text-align:center;
  font-family:'poppins';
  font-size:2.8rem;
  margin:auto 0;
  padding:9rem 0 0 0;
  font-weight:500;
  line-height:1.2;
}
.secondaryHeading{
  max-width:40.6rem;
  color:white;
  font-weight:400;
  text-align:center;
  line-height:1.87rem;
  font-size:1.1rem;
  padding-bottom:1rem;
}
.inputFeilds{
  display:flex;
  gap:1rem;
  padding-bottom:15rem;
}

.inputFeild{
  padding:1rem 2rem;
  border-radius:10px;
  border:none;
  font-size:1rem;
  width:20rem;
}
.inputFeild::placeholder{
  color:#555;
}
.searchIcon{
  height:1.4rem;
}
.searchButton{
  background:#FFF;
  padding:1rem 2rem;
  font-family:'poppins';
  font-size:1rem;
  font-weight:500;
  border-radius:10px;
  border:none;
  display:flex;
  align-items:center;
  gap:0.2rem;
}
.cardComponent{
  display:flex;
  max-width:60rem;
  gap:3rem;
  justify-content:center;
  position:absolute;
  bottom:-25%;
}
.leftBox{
  padding:10rem 5.3rem;
  background:#020FB7;
  border-radius:1rem;
  transform:rotateZ(50deg);
  position:absolute;
  top:3%;
  left:-6%;
}
.rightBox{
  padding:4.5rem 4rem;
  background:#020FB7;
  border-radius:0 0 1rem 1rem;
  position:absolute;
  top:0;
  right:3.5%;
}
.circle{
  padding:15rem;
  background: linear-gradient(180deg,#000329 10%, #070E6AFC 100%);
  border-radius:50%;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:-1;
}