.dishSelection {
  width: 40%;
  padding: 10px 0 0 0;
}
.container{
  padding:10px;
}
.steps{
  width:100%;
  font-size:1.6rem;
  font-weight:900;
  padding:10px 0;
  border-bottom:1px solid #888;
}
.dishItem {
  margin: 10px 0;
  display: -webkit-box;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .dishSelection {
    width: 100%;
  }
}
