.gridcols{
  display:grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  align-items: start;
  row-gap: 6rem;
  column-gap: 4rem;
}
.logoheading{
  display:inline-block;
  color:#FAFAFA;
  font-family:Epilogue;
  font-weight:800;
  font-size:2rem;
  letter-space:0.04rem;
}
.logo{
  background-color:#f3801a;
  height:2.5rem;
  width:4.2rem;
  border-radius:3px;
}
.container{
  max-width:71rem;
  margin:0 auto;
  padding:8rem 2rem 0 2rem;
  background-color:#12141D;
  border-bottom:1px solid #8A8A8A;
}
.footer{
  padding:5rem 0 2rem 0;
  border-top: 1px solid #a9a8a8;
  background-color:#12141D;
  font-family:"Epilogue",poppins;
  position:relative;
}
.footerheading{
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.footernav{
  list-style: none;
  display:flex;
  flex-direction: column;
  gap:1.5rem;
  padding:0;
}
.footerlink:link,.footerlink:visited{
  text-decoration: none;
  font-size: 1rem;
  display:block;
  color:#B9B3B3;
  transition: all 0.3s;
}
.footerlink:active,.footerlink:hover{
  color:#555;
}
.footerlink1:link,.footerlink1:visited{
  text-decoration: none;
  font-size: 1.5rem;
  display:block;
  color:#FAFAFA;
  transition: all 0.3s;
}
.footerlink1:active,.footerlink1:hover{
  color:#555;
}
.sociallink{
  list-style: none;
  display:flex;
  justify-content:space-around;
  padding:0;
}
.sociallinks{
  height:2rem;
  width:2rem;
  font-size:1.5rem;
}
.footerlogo{
  display:block;
  margin-bottom: 2rem;
  display:flex;
  gap:0.5rem;
  font-size:1.2rem;
  justify-content:start;
  text-decoration:none;
  align-items:center;
  font-weight:500;
  color:#FAFAFA;
  text-align:start;
}
.logocol{
  display:flex;
  flex-direction: column;
}
.copyright{
  font-size: 0.9rem;
  color:#B9B3B3;
  line-height: 1.6;
  font-weight: 400;
  margin-top: 2rem;
}
.copyrights{
  font-size: 0.96rem;
  color:#FAFAFA;
  line-height: 1.6;
  font-weight: 400;
  margin-top: 2rem;
  text-align:center
}
.contacts{
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
  display:flex;
  gap:0.7rem;
  flex-direction:column;
}
.address{
  margin-top:0.2rem;
  margin-bottom: 0.7rem;
  color:#B9B3B3;
}
@media(max-width:1061px){
  .gridcols{
    grid-template-columns:1.5fr 1.5fr 1fr 1fr;
  }
}
@media(max-width:900px){
  .gridcols{
    grid-template-columns:1.5fr 1.5fr 1fr;
  }
}
@media(max-width:680px){
  .gridcols{
    grid-template-columns:1.5fr 1.5fr;
    row-gap: 4rem;
    column-gap: 2rem;
  }
}
@media(max-width:500px){
  .gridcols{
    grid-template-columns:1.5fr;
  }
}