.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 0 3rem 0 1rem;
  background-color:white;
  max-width:86rem;
  margin:0 auto;
}

.navLinks2{
  display:flex;
  list-style:none;
  gap:1.7rem;
  flex-direction:row;
  color:#333;
  font-size:1.125rem;
  font-weight:500;
  align-items:center;
  margin:0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.imgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.logoImg {
  height: 2.8rem;
  margin-left:1rem;
  background-color:#f3801a;
  border-radius:6px;
  width:4.4rem;
}
.userImg{
  color:#0C18B9;
  font-size:1.1rem;
}
.service{
  border:none;
  padding:0 0.5rem;
  font-family:'poppins';
  font-size:1rem;
  color:#222222;
  pointer:cursor;
}
.create{
  font-size:1rem;
  background-color:#070E6A;
  border:none;
  color:#fff;
  padding:0.8rem 1.2rem;
  border-radius:1.3rem;
  font-weight:400;
  pointer:cursor;
}
.logoNumber{
  font-size: 1.1rem;
  font-weight:400;
  font-family:'poppins';
  color:#222;
  display:flex;
  align-items:center;
  padding-right:5rem;
}
.logoText {
  font-size: 1.5rem;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  display:flex;
  align-items:center;
  gap:1rem;
  justify-content:center;
  line-height:1.2rem;
  letter-spacing:-1px;
}

.navLinks1{
  display: flex;
  align-items: start;
  z-index:100;
  padding:0rem 0rem 0.6rem 0.6rem;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  color: black;
  z-index:100;
}

.navLogin,
.navContact,
.findCaterers,
.navProfile,
.signout,
.booking {
  cursor: pointer;
}
.findCaterers{
  display:flex;
  align-items:center;
  gap:5px;
  flex-direction:row;
  justify-content:center
}
.navContact::before {
  content: "\f10b";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 8px;
}
.findImg{
  height:30px;
  width:30px;
  border-radius:50%;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.booking{
  display:flex;
  align-items:center;
  gap:5px;
  font-family:'poppins';
  font-size:1.1rem;
  font-weight:400;
  flex-direction:row;
  justify-content:center
}

.dropdown {
  position: relative;
}
.logoNumber>a{
  text-decoration:none;
  color:#444;
}
.dropdownMenu {
  position: absolute;
  min-width: 160px;
  padding-top: 20px;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  right: -20%;
  opacity: 0;
  transform: translate(0, -10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  background-color: white;
  border-radius: 1rem;
}
.logoNumber>img{
  width:1.2rem;
  padding:0 0.5rem 0 0;
}
.hamburgerBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 5px;
  font-size: x-large;
}

/* .dropdownMenu {
  opacity: 0;
  transform: translate(0, -10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
  background-color: #696969;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 20px;
} */

@media (max-width: 3000px) {
  .navLinks1.rowUl {
    display: none;
  }
  .navLinks2{
    display:inline-flex;
  }

  .navLinks1{
    flex-direction: column;
  }

  .hamburger {
    display: none;
  }

  .dropdown.active > .hamburgerBtn + .dropdownMenu {
    opacity: 1;
    transform: translate(0, 0);
    pointer-events: auto;
  }

  .hamburgerBtn > i {
    pointer-events: none;
  }
}
@media(max-width:1366px){
  .primaryHeader{
    font-size:1.7rem;
  }
}
@media(max-width:1200px){
  .navLinks2{
    gap:1.2rem;
  }
}
@media(max-width:1040px){
  .navLinks2{
    display:none;
  }
  .navbar{
    padding:1rem 1rem;
  }
  .hamburger{
    display:block;
  }
  .navLinks1>.logoNumber{
    margin:0;
    height:1rem;
  }

}

@media (max-width: 450px) {
  .logoText {
    font-size: 16px;
    margin-left: 1rem;
  }
  .navbar{
    padding:0.2rem 1.2rem;
  }
  .logoText{
    margin-left:0;
  }
}
