.sidebar {
  width: 25%;
  padding: 10px 0 0 0;
}
.container{
  background-color: #f8f9fa;
  padding:10px;
}
.quantity {
  border-radius: 10px;
  padding: 9px 14px;
  max-width: 100%;
  background-color: #ffc107;
  display: flex;
  color:#333;
  justify-content: center;
  align-items: center;
}
.steps{
  width:100%;
  font-size:1.6rem;
  font-weight:900;
  padding:10px 0;
  border-bottom:1px solid #888;
}
.btn {
  background-color: #f8f9fa;
  background: #0d6efd;
  color: white;
  padding: 6px 10px;
  border: none;
  font-size: 12px;
  border-radius: 10px;
  position:relative;
  left:165%;
}
.btn>span{
  font-size:20px;
}
.category {

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size:1.1rem;
}
.sidebar ul {
  background-color: #f8f9fa;
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  background-color: #f8f9fa;
  padding: 10px;
  cursor: pointer;
}

.sidebar li.selected {
  background-color: #fad03d;
  border-radius:4px;
  color:#333;
  font-weight:400;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 60%;
    font-size:0.6rem;
  }
  .btn{
    left:0;
  }
  .quantity{
    padding:5px 10px;
  }
  .category{
    font-size:0.7rem;
  }
  .btn{
    font-size:0.6rem;
  }
  .btn>span{
    font-size:0.8rem;
  }
}
