.sectionTestimonial {
    padding: 3rem 1.5rem;
    background-color: #fdf2e9;
  }
  
  .testimonialContainer {
    text-align:center;
    max-width:87.25rem;
    margin:0 auto 3rem auto;
  }
  
  .subheading {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
  }
  
  .secondaryHeading {
    font-size: 2.4rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 3.6rem;
  }
  
  .testimonial {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
  
  .testimonialBox {
    padding:1rem;
    box-shadow: 0 0.7rem 1.6rem rgba(0, 0, 0, 0.1);
    border-radius: 0.7rem;
    background-color: #fff;
    margin:0;
  }
  
  .testimonialImg {
    width: 6.8rem;
    height: 6.8rem;
    border-radius: 50%;
    padding-top:1rem;
    margin-bottom: 0.8rem;
  }
  
  .testimonialText {
    font-size: 1rem;
    line-height: 1.3;
    text-align:start;
    margin-bottom: 1.2rem;
    color: #555;
  }
  
  .testimonialName {
    font-size: 1.2rem;
    font-weight: 700;
    color: #333;
    text-align:start;
    padding-left:2.4rem;
  }
  
  .gallery {
    max-width:40%;
  }
  .videoTag{
    height:800px;
  }
  .forFlex{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:4rem;
  }
  .galleryItems{
    width:75%;
  }
  .galleryItems img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  @media(max-width:1200px){
    .testimonialBox{
      padding:0;
    }
    .testimonialText{
      margin:0.5rem 0.5rem 0 0.5rem ;
    }
    .testimonialName{
      padding-left:1rem;
    }
    .gallery{
      max-width:none;
    }
  }
@media(max-width:1050px){
  .forFlex{
    flex-direction:column-reverse;
  }
  .secondaryHeading{
    font-size:2rem;
  }
  .gallery{
    justify-content:center;
  }
  .videoTag{
    height:400px;
    width:none;
  }
  .testimonialBox{
    padding:0.5rem;
  }
  .testimonialText{
    margin:1rem 1rem 0 1rem ;
  }
  .testimonial{
    width:100%;
  }
}
@media(max-width:500px){
  .testimonialText{
    margin:0.5rem 0.5rem 0 0.5rem;
    font-size:0.8rem;
  }
  .testimonialName{
    font-size:0.8rem;
  }
  .secondaryHeading{
    font-size:1.3rem;
  }
  .testimonialImg{
    width:5rem;
    height:5rem;
  }
}
@media(max-width:386px){
  .testimonialText{
    margin:0.5rem 0.3rem 0 0.3rem;
    font-size:0.6rem;
  }
  .secondaryHeading{
    font-size:1.35rem;
  }
  .testimonialName{
    font-size:0.7rem;
  }
  .sectionTestimonial{
    padding:2.5rem 0.2rem;
  }
  .testimonial{
    gap:1rem;
  }
}
  